<div class="card text-center  mx-auto my-5" style="width: 40rem;">
  <div class="card-body m-5">
    <form [formGroup]="registerForm">
      <label for="input-value">Digite o valor:
        <div class="input-group input-group-lg mx-4 my-2">
          <input
            formControlName="value"
            type="text"
            prefix="R$"
            mask ="separator.2" milSeparator ="."
            min="1"
            class="form-control"
            placeholder="Ex.: 150.55"
            id="input-value"
          >
        </div>
      </label>
      <label for="input-instalments">Digite a quantidade de parcelas:
        <div class="input-group input-group-lg mx-4 my-2">
          <input
            formControlName="instalments"
            mask="0009"
            type="text"
            min="1"
            class="form-control"
            placeholder="Ex. 10"
            id="input-instalments"
          >
        </div>
      </label>
      <div class="col-xs-6 col-6 mx-auto my-5">
        <button
          type="button"
          (click)="getForm()"
          class="btn btn-save btn-search"
          tooltip="I will hide on click"
          containerClass="customClass"
          triggers="click"
          placement="bottom"
        >
          Salvar
        </button>
        <div class="container mt-4">
          <span class="text-result">{{result}}</span>
        </div>
      </div>
    </form>
  </div>
</div>