<div class="card text-center  mx-auto my-5" style="width: 30rem;">
  <div class="card-body m-5">
    <form [formGroup]="registerForm">
      <label for="input-value">Digite o valor:
        <div class="input-group input-group-lg mx-4 my-2">
          <span class="input-group-text" id="inputGroup-sizing-lg">R$</span>
          <input
            formControlName="value"
            type="number"
            min="1"
            class="form-control"
            placeholder="Ex.: 150.55"
            id="input-value"
          >
        </div>
      </label>
      <label for="input-instalments">Digite a quantidade de parcelas:
        <div class="input-group input-group-lg mx-4 my-2">
          <span class="input-group-text" id="inputGroup-sizing-lg">x</span>
          <input
            formControlName="instalments"
            type="number"
            min="1"
            class="form-control"
            placeholder="Ex. 10"
            id="input-instalments"
          >
        </div>
      </label>
      <div class="col-xs-6 col-6">
        <button
          type="button"
          (click)="getForm()"
          class="btn btn-save"
          tooltip="I will hide on click"
          containerClass="customClass"
          triggers="click"
          placement="bottom"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>